@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('minecraft-font.css');

@import "tailwindcss";
@import "@heroui/styles";

@theme {
    --font-minecraft-header: "MinecraftHeader", sans-serif;
    --font-minecraft-body: "MinecraftBody", sans-serif;
    --color-primary: #1bd96a;
    --color-primary-foreground: #000;
    --color-secondary: #eaeaea;
    --color-background: #0b0b0e;
}

:root, .dark {
    --color-primary: #1bd96a;
    --color-primary-foreground: #000;
    --color-secondary: #eaeaea;
    --color-background: #0b0b0e;
}

.deuteranopia-friendly {
    --color-primary: #0ea5e9;
    --color-primary-foreground: #ffffff;
    --color-secondary: #6366f1;
    --color-secondary-foreground: #ffffff;
    --color-success: #0ea5e9;
    --color-success-foreground: #ffffff;
    --color-danger: #8b5cf6;
    --color-danger-foreground: #ffffff;
}

.tritanopia-friendly {
    --color-primary: #1bd96a;
    --color-primary-foreground: #000;
    --color-secondary: #06b6d4;
    --color-secondary-foreground: #000000;
}

.monochrome {
    --color-primary: #ffffff;
    --color-primary-foreground: #000000;
    --color-secondary: #666666;
    --color-secondary-foreground: #ffffff;
    --color-default: #808080;
    --color-default-foreground: #000000;
    --color-success: #cccccc;
    --color-success-foreground: #000000;
    --color-warning: #999999;
    --color-warning-foreground: #000000;
    --color-danger: #666666;
    --color-danger-foreground: #ffffff;
}


:root {
    --scrollbar-background-color: transparent;
    --scrollbar-thumb-color: var(--color-primary, #1bd96a);
    --scrollbar-thumb-hover-color: var(--color-primary, #1bd96a);
    overflow: auto;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-background-color);
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

::selection {
    background-color: var(--color-primary, #1bd96a);
    color: var(--color-background, #0b0b0e);
}
