name: publish-ghcr.yml
on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  contents: read
  packages: write

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Build and push the image
        run: |
          docker login -u ${{ github.actor }} -p ${{ secrets.GH_TOK }} ghcr.io
          docker build -t ghcr.io/Obsidian-Minecraft-Server-Portal/server:latest .
          docker push ghcr.io/Obsidian-Minecraft-Server-Portal/server:latest